<nav class="navbar navbar-expand-lg py-4" style="background-color: #E8C566;">
    <a class="navbar-brand  " [routerLink]="['home']"  routerLinkActive="active"style="color: black;">
        <img src="https://i.pinimg.com/originals/21/30/f8/2130f8289a6541f67320e1b0ddf644c5.png" width="30" height="30" class="d-inline-block align-top" alt=""> CoronasMx
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <form class="form-inline my-2 my-lg-0 " style="margin: 5%;">
            <a [routerLink]="['foro']" routerLinkActive="active" class=" mr-sm-2">Empresa</a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">Iniciar sesion</button>
        </form>
    </div>
</nav>