<div class="row">
    <div class="col" style="margin: 10%;">
        <h2>¿Que hacemos?</h2>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dicta deserunt itaque obcaecati porro
            repellendus dolores quibusdam tempora cum nam soluta reiciendis reprehenderit pariatur ab, est nisi eius!
            Corrupti, libero!</p>
    </div>

    <div class="col d-flex justify-content-center" style="margin: 5%;">

        <img src="https://images.pexels.com/photos/1718031/pexels-photo-1718031.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="" height="300" style="border-radius: 12px;">

    </div>

</div>

<div class="row">


    <div class="col d-flex justify-content-center" style="margin: 5%;">

        <img src="https://images.pexels.com/photos/4834812/pexels-photo-4834812.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="" height="400" style="border-radius: 12px;">

    </div>

    <div class="col" style="margin: 10%;">
        <h2>Objetivos</h2>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dicta deserunt itaque obcaecati porro
            repellendus dolores quibusdam tempora cum nam soluta reiciendis reprehenderit pariatur ab, est nisi eius!
            Corrupti, libero!</p>
    </div>

</div>



<footer class="bg-dark text-white py-4">
    <div class="container">
        <nav class="row">
            <a href="" class="col text-reset d-flex align-items-center font-weight-bold" style="color:blanchedalmond">
                <img src="https://i.pinimg.com/originals/21/30/f8/2130f8289a6541f67320e1b0ddf644c5.png" width="50"
                    height="50" alt=""> CoronasMx
            </a>

            <div class="col-3 font-weight-bold">
                <p>
                    DIreccion: <br> K.m 6.7, México 85, 89930 Quintero, Tamps.
                </p>

            </div>
            <div class="col-3 font-weight-bold">
                Contacto: <br> CoronasMx@gmail.com
            </div>
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-upppercase">Redes Sociales</li>
                <li class="d-flex justify-content-between">
                    <a href="" class="text-reset"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="text-reset"><i class="fab fa-instagram"></i></a>
                    <a href="" class="text-reset"><i class="fab fa-pinterest-p"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>